@import '../../styles/utils/mixins';

.usersListContainer{
@include tablet {
    display: flex;
    flex-wrap: wrap;
    gap:16px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
}

.showMoreBtn{
    width: 120px;
height: 34px;
background-color: var(--primary-color);
border: none;
border-radius: 80px;
font-weight: 400;
font-size: 16px;
line-height: calc(26/16);
}